@media screen and (max-width: 1300px){
    .hero .left-bubble{
        bottom: -300px;
        left: -250px;
        width: 900px;
        height: 900px;
    }
    .hero-container{
        margin-bottom: 0rem;
    }
    .header .social_media-container{
        top: 6.5rem;
        right: -0.5rem;
        padding: 0.5rem 0.7rem;
    }
    .social_media-container .social_media-link{
        font-size: 1.8rem;
    }
    .nav .header-link{
        padding: 0.6rem 2.1rem;
        font-size: 1.2rem;
    }
    .navbar .logo-container{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        font-size: 1.2rem;
        margin: 0 3rem;
    }
    .courses-container .course-box{
        width: 45%;
        height: 22rem;
        background-color: #e7e5e5;
        border-radius: 20px;
        align-items: center;
        padding: 1.5rem;
        gap: 1rem;
    }
    .course-box .box-image-container{
        flex: 0.8;
        height: 75%;
    }

}

@media screen and (max-width: 1180px){
    .hero{
        padding-bottom: 0;
    }
    .hero .left-bubble{
        bottom: -320px;
        left: -200px;
        width: 800px;
        height: 800px;
    }
    .hero-title{
        width: 75%;
        font-size: 3.9rem;
        line-height: 1.15;
        letter-spacing: 2px;
    }
    .hero-subtitle{
        font-size: 1.9rem;
    }
    .hero-container.cat-buttons{
        margin-top: 2.8rem;
    }
    .cat-buttons .cat-btn{
        padding: 0.4rem 1.4rem;
        font-size: 1.2rem;
    }
    .nav .header-link{
        padding: 0.45rem 1.2rem;
        font-size: 1.2rem;
    }
    .nav.scrolled{
        gap: 1.5rem;
    }
    .nav .header-link.scrolled{
        padding: 0.5rem 1.4rem;
    }
    .navbar .logo-container{
        width: 90px;
        height: 90px;
        font-size: 1.2rem;
        margin: 0 2.2rem;
    }
    .courses-container .course-box{
        width: 70%;
        height: 22rem;
        background-color: #e7e5e5;
        border-radius: 20px;
        align-items: center;
        padding: 1.5rem;
        gap: 1rem;
    }
    .course-box .box-image-container{
        flex: 0.9;
        height: 70%;
    }

}

@media screen and (max-width: 1045px){
    .whatsapp-button{
        bottom: 1rem;
    }
    .nav .header-link{
        padding: 0.45rem 1.2rem;
        font-size: 1.15rem;
    }
    .courses-container .course-box{
        height: fit-content;
    }
    .course-box .box-image-container{
        flex: 0.9;
        height: 12rem;
    }
    .contact .contact-content{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        row-gap: 2rem;
    }
    .info-group .info-description{
        width: 100%;
        text-align: left;
    }
    .contact-content .left-content{
        flex: auto;
        order: 1;
        height: 20rem;
        width: 10rem;
        padding: 1.2rem;
        text-align: left;
    }
    .contact-content .right-content{
        order: 2;
        flex: auto;
        width: auto;
        height: 20rem;
    }
    .contact-content .middle-content{
        order: 3;
        flex: auto;
        width: 100%;
    }
    .middle-content .middle-description{
        display: flex;
        flex-direction: column;
        text-align: left;
        align-self: flex-start;
        width: 80%;
    }

    .middle-content .benefit-button{
        margin-top: 1.2rem;
        margin-bottom: 0;
        padding: 0.5rem 2rem;
    }
    .footer{
        padding: 2rem 0;
        padding-top: 1.5rem;
    }
    .footer .footer-content{
        gap: 1.4rem;
    }
    .footer-content .footer-content-box{
        width: 100%;
    }
    .footer-content-box h4{
        font-size: 1.05rem;
        text-align: center;
        width: 100%;
    }
    .footer-content-box li, p{
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .footer-content-box .list{
        width: 100%;
    }
    .footer-content-box .list{
        align-items: center;
        justify-content: center;
    }
    .list.social-media{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer-content .footer-content-box{
        flex: 1;
    }
    .footer-content .footer-content-box.bigger-box{
        flex: 1.5;
    }

}

@media screen and (max-width: 775px){
    .header{
        height: 10rem;
        margin-top: 2rem;
    }
    .header .navbar{
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 18rem;
        height: 100%;
        background-color: var(--clear-white);
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 100;
        overflow: hidden;
        transform: translateX(100%);
        transition: all 0.3s ease 0s;
    }
    .navbar .logo-container{
        position: absolute;
        bottom: 0.8rem;
        right: 0.8rem;
        margin: 0;
    }
    .navbar .nav{
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding-top: 1rem;
    }
    .nav li{
        width: 100%;
    }
    .nav .header-link{
        background-color: var(--clear-white);
        color: var(--black-color);
        width: 100%;
        box-shadow: none;
        text-align: left;
        border-radius: 0;
        padding: 1rem 2rem;
    }
    .nav .header-link:hover{
        background-color: rgba(221, 226, 230, 0.879);
    }
    .nav .header-link.darker{
        background-color: var(--clear-white);
    }
    .header .social_media-container{
        top: 1rem;
        right: 17.5rem;
        z-index: 10;
        transform: translateX(750%);
    }
    .open-sidebar-button{
        position: absolute;
        top: 0;
        right: 1rem;
        z-index: 100;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        height: 60px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
        transition: all 0.3s ease 0s;
    }
    .open-sidebar-button i{
        font-size: 30px;
    }
    .open-sidebar-button:hover{
        transform: scale(1.1);
        box-shadow: 0 0 0 7px rgba(0,0,0,0.1);
    }
    .close-sidebar-button{
        display: flex;
        align-items: center;
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0,0,0,0.4);
        background-color: var(--gray-color);
        color: var(--black-color);
        transition: all 0.3s ease 0s;
    }
    .close-sidebar-button:hover{
        background-color: var(--deep-gray);
        transform: scale(1.1);
        box-shadow: 0 0 0 7px rgba(0,0,0,0.1);
        color: var(--white-color);
    }
    #sidebar-active:checked ~ .navbar{
        transform: translateX(0);
    }
    #sidebar-active:checked ~.social_media-container{
        transform: translateY(0);
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%; width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
    }
    /* ------- scrolled ----- */
    .hero .left-bubble{
        bottom: -250px;
        left: -170px;
        width: 700px;
        height: 700px;
    }
    .hero-title{
        width: 75%;
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: 1.8px;
    }
    .hero-subtitle{
        font-size: 1.8rem;
    }
    .hero-container .cat-buttons{
        margin-top: 1.5rem;
    }
    .cat-buttons .cat-btn{
        padding: 0.4rem 1rem;
        font-size: 1.1rem;
        width: 14rem;
    }
    .benefits .section-title{
        font-size: 2.5rem;
        line-height: 1.1;
    }
    .benefits-container .benefit{
        width: 18rem;
        height: 23rem;
        padding: 1.2rem;
    }
    .benefit .benefit-title{
        font-size: 1.2rem;
        width: 100%;
        text-align: left;
    }
    .benefit .benefit-description{
        width: 100%;
        font-size: 0.95rem;
        text-align: left;
    }
    .benefit-button{
        padding: 0.4rem 1rem;
        font-size: 0.95rem;
    }
    .courses .section-title{
        font-size: 2.5rem;
        text-align: center;
    }
    .courses .courses-container{
        margin-bottom: 2rem;
        row-gap: 3rem;
    }
    .courses-container .course-box{
        width: 85%;
        height: 20rem;
        padding: 1.5rem;
    }
    .course-box .box-image-container{
        height: 80%;
    }
    .box-content .prices{
        font-size: 1.15rem;
    }
    .contact-title{
        font-size: 2.6rem;
    }
    .info-group .info-description{
        display: flex;
        justify-content: flex-start;
    }
    .call-to-action{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem;
    }
    .call-to-action .cta-text{
        font-size: 1.2rem;
        font-weight: 500;
        color: #123037;
        margin-bottom: 1.1rem;
    }
    .footer{
        padding: 1.5rem 0;
    }
    .footer .footer-content{
        gap: 1.2rem;
    }
    .footer-content-box h4{
        font-size: 1rem;
    }
    .footer-content-box li, p{
        font-size: 0.8rem;
    }
    .footer-content-box:nth-last-child(1){
        display: none;
    }
}

@media screen and (max-width: 440px){
    .whatsapp-button{
        bottom: 0.5rem;
        right: 1rem;
    }
    .whatsapp-button img{
        width: 70px;
        height: 70px;
    }
    .header .navbar{
        width: 16rem;
    }
    .header .social_media-container{
        top: 1rem;
        right: 15.5rem;
    }
    .hero{
        align-items: center;
        justify-content: center;
    }
    .hero .hero-bg-img{
        position: absolute;
        top: 0;
        left: 0;
        object-position: -350px -90px;
        object-fit: cover;
        z-index: 0;
    }
    .hero .left-bubble{
        bottom: -125px;
        left: -80px;
        width: 600px;
        height: 500px;
        box-shadow: 3px 2px 15px rgba(0,0,0,0.5);
    }
    .hero-container{
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0 1rem;
        padding-bottom: 1.4rem;
    }
    .hero-title{
        width: 100%;
        text-align: center;
        font-size: 3.2rem;
        line-height: 0.9;
        letter-spacing: 1.5px;
    }
    .hero-subtitle{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.1;
    }
    .hero-container .cat-buttons{
        margin-top: 1.4rem;
    }
    .cat-buttons .cat-btn{
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        width: 13rem;
    }

    .benefits .section-title{
        font-size: 2.4rem;
        line-height: 1.1;
        width: 100%;
    }
    .benefits-container .benefit{
        width: 18rem;
        height: 23rem;
        padding: 1.2rem;
    }
    .benefit .benefit-title{
        font-size: 1.2rem;
        width: 100%;
        text-align: left;
    }
    .benefit .benefit-description{
        width: 100%;
        font-size: 0.95rem;
        text-align: left;
    }
    .benefit-button{
        padding: 0.4rem 1rem;
        font-size: 0.95rem;
    }

    .courses .section-title{
        font-size: 2.4rem;
        text-align: center;
    }
    .courses .courses-container{
        margin-bottom: 2rem;
        row-gap: 3rem;
    }
    .courses-container .course-box{
        width: 90%;
        height: 30rem;
        padding: 1.5rem;
        flex-direction: column;
    }
    .course-box .box-image-container{
        height: 10rem;
        width: 100%;
    }
    .course-box .course-time{
        position: absolute;
        top: -25px;
        padding: 0.4rem 1rem;
        font-size: 1.05rem;
    }
    .box-content .nombre-curso{
        font-size: 1.5rem;
    }
    .box-content .prices{
        font-size: 1.05rem;
    }
    .box-content .course-data{
        font-size: 0.95rem;
    }

    .contact-title{
        font-size: 2.3rem;
    }
    .info-group .info-description{
        display: flex;
        justify-content: flex-start;
    }
    .middle-content .middle-description{
        width: 100%;
    }
    .call-to-action{
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        padding: 1.5rem;
    }
    .call-to-action .cta-title{
        font-size: 1.7rem;
        text-align: center;
    }
    .call-to-action .cta-text{
        font-size: 1.15rem;
    }
    .call-to-action .cta-button{
        padding: 0.4rem 1.2rem;
        width: 14rem;
        text-align: center;
    }
    .footer{
        padding: 1rem 0;
    }
    .footer .footer-content{
        gap: 1.1rem;
    }
    .footer-content-box h4{
        font-size: 1rem;
    }
    .footer-content-box li, p{
        font-size: 0.75rem;
    }
    .footer-content-box:nth-last-child(1){
        display: none;
    }
    .footer .footer-copyright{
       display: flex;
       flex-direction: column;
    }
    
}

@media screen and (max-width: 400px){
    .hero .left-bubble{
        bottom: -125px;
        left: -95px;
        width: 600px;
        height: 510px;
        box-shadow: 3px 2px 15px rgba(0,0,0,0.5);
    }
    .hero-container{
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0 1rem;
        padding-bottom: 1.4rem;
    }
    .hero-title{
        width: 100%;
        text-align: center;
        font-size: 2.9rem;
        line-height: 0.9;
        letter-spacing: 1.5px;
    }
    .hero-subtitle{
        width: 100%;
        font-size: 1.48rem;
        text-align: center;
        line-height: 1.1;
    }
    .hero-container .cat-buttons{
        margin-top: 1.4rem;
        gap: 0.7rem;
        justify-content: center;
        margin-bottom: 3.2rem;
    }
    .cat-buttons .cat-btn{
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 380px){
    .hero{
        height: 98vh;
        background-position: -1325px 1950px;
        align-items: center;
        justify-content: center;
    }
    .hero .left-bubble{
        bottom: -80px;
        left: -100px;
        width: 600px;
        height: 465px;
        box-shadow: 3px 2px 15px rgba(0,0,0,0.5);
    }
    .hero-container{
        padding: 0 0.5rem;
        margin-bottom: 1.4rem;
    }
    .hero-title{
        width: 100%;
        text-align: center;
        font-size: 2.95rem;
        line-height: 0.9;
        letter-spacing: 1.2px;
    }
    .hero-subtitle{
        width: 100%;
        font-size: 1.55rem;
        text-align: center;
        line-height: 1.1;
    }
    .hero-container .cat-buttons{
        margin-top: 1.4rem;
        gap: 0.8rem;
        justify-content: center;
    }
    .cat-buttons .cat-btn{
        padding: 0.55rem 0.56rem;
        font-size: 0.9rem;
        width: 10rem;
    }
}

@media screen and (max-width: 350px){
    .hero .left-bubble{
        bottom: -60px;
        left: -130px;
        width: 600px;
        height: 445px;
        box-shadow: 3px 2px 15px rgba(0,0,0,0.5);
    }
    .hero-container{
        padding: 0 0.7rem;
        margin-bottom: 1.4rem;
    }
    .hero-title{
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
        line-height: 0.9;
        letter-spacing: 1.2px;
    }
    .hero-subtitle{
        width: 100%;
        font-size: 1.50rem;
        text-align: center;
        line-height: 1.1;
    }
    .hero-container .cat-buttons{
        margin-top: 1.25rem;
        gap: 0.8rem;
        justify-content: center;
    }
    .cat-buttons .cat-btn{
        padding: 0.4rem 0.56rem;
        font-size: 0.98rem;
        width: 10rem;
        height: 4rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.1;
    }
}
